{% extends 'base.html' %}

{% block content %}
    <h1>New Post</h1>
    <form action="" method="post">{% csrf_token %}
        <!--
        csrf token protects form from cross-site scripting attacks
        ALL DJANGO FORMS SHOULD HAVE IT
        -->
        {{ form.as_p }}
        <input type="submit" value="Save"/>
    </form>
{% endblock %}
